:root {
  --main-color: #19afd8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #333;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: var(--main-color);
}
h2 {
  color: var(--main-color);
  font-family: "Indie Flower", cursive;
  padding: 1rem;
  font-size: 3rem;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

img {
  width: 80%;
}
footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
